<p style="color: green"><%= notice %></p>

<% content_for :title, "Profiles" %>

<h1>Profiles</h1>

<div id="profiles">
  <% @profiles.each do |profile| %>
    <%= render profile %>
    <p>
      <%= link_to "Show this profile", profile %>
    </p>
  <% end %>
</div>

<%= link_to "New profile", new_profile_path %>

<aside>
<p>Your aside content goes here.</p>
</aside>


# Standard image
<img alt="A dog on an iPad" src="/assets/images/dog-ipad.jpg" />

# Image with a caption
<figure>
  <img alt="This is a black swan" src="/assets/images/goose.jpg" />
  <figcaption>This is a black swan</figcaption>
</figure>



<form>
  <p><strong>This is just a test form. It doesn't do anything.</strong></p>

  <p><select>
    <option selected="selected" value="1">Title</option>
    <option value="2">Mr</option>
    <option value="3">Miss</option>
    <option value="4">Mrs</option>
    <option value="5">Other</option>
  </select></p>

  <p>
  <label>First name</label>
  <input type="text" name="first_name">
  </p>

  <p>
  <label>Surname</label>
  <input type="text" name="surname">
  </p>

  <p>
  <label>Email</label>
  <input type="email" name="email" required="">
  </p>

  <p>
  <label>Enquiry type:</label>
  <label><input checked="checked" name="type" type="radio" value="sales" /> Sales</label> 
  <label><input name="type" type="radio" value="support" /> Support</label> 
  <label><input name="type" type="radio" value="billing" /> Billing</label>
  </p>

  <p>
  <label>Message</label>
  <textarea rows="6"></textarea>
  </p>

  <p>
  <label for="cars">Choose a car:</label>
  <select name="cars" id="cars" multiple>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
  </select>
  </p>

  <p>
  <label>
  <input type="checkbox" id="checkbox" value="terms">
  I agree to the <a href="#">terms and conditions</a>
  </label>
  </p>

  <button>Send</button>
  <button type="reset">Reset</button>
  <button disabled="disabled">Disabled</button>
</form>


<div class="flex flex-col items-center gap-6 p-7 md:flex-row md:gap-8 rounded-2xl" id="magazine-cover">
  <div>
    <picture>
      <source srcset="/img/cover-large.webp" media="(min-width: 1024px)">
      <source srcset="/img/cover-medium.webp" media="(min-width: 768px)">
      <img class="size-48 shadow-xl rounded-md" alt="Cover for Class Warfare: The Anti-Patterns magazine, No. 4, 2025" src="/img/cover.png" loading="lazy">
    </picture>
  </div>
  <div class="flex flex-col items-center md:items-start md:flex-1">
    <h1 class="text-2xl font-medium">Class Warfare <span class="text-sky-500">The Anti-Patterns</span></h1>
    <div class="flex gap-2 font-medium text-gray-600 dark:text-gray-400">
      <span>No. 4</span>
      <span>·</span>
      <span>2025</span>
    </div>
  </div>
</div>

