<div class="relative isolate bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
  <div aria-hidden="true" class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl">
    <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="mx-auto aspect-1155/678 w-288.75 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-20"></div>
  </div>
  <div class="mx-auto max-w-4xl text-center">
 
    <p class="mt-2 text-5xl font-semibold tracking-tight text-balance text-white sm:text-6xl">From Strategy to Launch, We Build Your Vision</p>
  </div>
  <p class="mx-auto mt-6 max-w-2xl text-center text-lg font-medium text-pretty text-gray-400 sm:text-xl/8">We go beyond just building websites. We provide a big-picture strategy, assess your goals, and ensure your digital presence is a powerful asset for your business.</p>
    <h1 class="text-base/7 mt-8 text-center font-semibold text-indigo-400">Web Consulting & Development</h1>
  </div>